
  <script>
  $( function() {
    $( "#dataPedido" ).datepicker();
    $( "#dataPedido" ).datepicker( "option", "dateFormat", "dd/mm/yy" );
    $( "#dataPedido" ).datepicker( $.datepicker.regional[ "pt-BR" ] );
    $( "#dataRecebimento" ).datepicker();
    $( "#dataRecebimento" ).datepicker( "option", "dateFormat", "dd/mm/yy" );
    $( "#dataRecebimento" ).datepicker( $.datepicker.regional[ "pt-BR" ] );
  } );
  </script>




<div class="container text-center">
	<h1>Cadastro de Pedido</h1>
	<br>

	<fieldset class="external-fieldset">
		<form ng-submit="salvarPedido(pedido)">
			<div class="container">
				
				<h1>Informações</h1>
				<br>
    			
				<div class="row">
					<label class="containerLabel" for="data-pedido">Data de pedido</label>
					<input required="" ng-model="pedido.dataPedido" class="containerInput form-control" id="dataPedido" name="data-pedido" >
				</div>
				<div class="row">
					<label class="containerLabel" for="date">Data de recebimento</label>
					<input required="" ng-model="pedido.dataRecebimento" class="containerInput form-control" name="date" id="dataRecebimento">
				</div>
				<div class="row">
					<label class="containerLabel" for="desconto">Desconto</label>
					<input ng-model="pedido.desconto" class="containerInput form-control" name="desconto" placeholder="Digite o desconto total">
					</input>
				</div>
				<div class="row">
					<label class="containerLabel" for="formaDePagamento">Forma de Pagamento</label>
					<select ng-model="pedido.formaDePagamento" ng-options="formaDePagamento as formaDePagamento.nome for formaDePagamento in formasDePagamento" required="" class="containerSelect form-control" name="formaDePagamento">
						<option></option>
					</select>
				</div>
				<div class="row">
					<label class="containerLabel" for="lojaSelect">Loja</label>
					<select ng-model="pedido.loja" ng-options="loja as loja.nome for loja in lojas" required="" class="containerSelect form-control"" name="lojaSelect">
						<option></option>
					</select>
				</div>
				<div class="row">
					<label class="containerLabel" for="observacoes">Observações</label>
					<textarea ng-model="pedido.observacoes" class="containerTextarea form-control" name="observacoes" placeholder="Observações..."></textarea>
				</div>


				<hr>
				<br>
				<h2>Buscar Produtos</h2>
				<br>
			    <div class="input-group centered-element">
			      <input ng-model="codigoProduto" class="form-control" placeholder="Digite o código do produto"></input>
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button" ng-click="buscar(codigoProduto)">Adicionar</button>
			      </span>
			    </div>
				<hr>
			</div>
			<br>
		
			<h2 ng-show="produtos.length != 0">Produtos</h2>

			<div ng-model="pedido.produtos" ng-repeat="produto in produtos">

				<div cadastro-produto></div>	
		
			</div>

			<button type="submit" class="btn btn-primary">Salvar</button>	
		</form>
	</fieldset>
</div>