<div class="container text-center">
	<h1>Cadastro de Pedido</h1>
	<br>

	<fieldset class="external-fieldset">
		<form ng-submit="salvarPedido(pedido)">
			<div class="container">
				
				<h1>Informações</h1>
				<br>
    			
				<div class="form-group">
					<label class="field" for="data-pedido">Data de pedido</label>
					<input required="" ng-model="pedido.dataPedido" class="textbox-300 form-control" type="date" name="data-pedido" id="data-pedido" min="2017-01-01">
				</div>
				<div class="form-group">
					<label class="field" for="date">Data de recebimento</label>
					<input required="" ng-model="pedido.dataRecebimento" class="textbox-300 form-control" type="date" name="date" id="date" min="pedido.dataPedido">
				</div>
				<div class="form-group">
					<label class="field" for="desconto">Desconto</label>
					<input ng-model="pedido.desconto" class="textbox-300 form-control" name="desconto" placeholder="Digite o desconto total">
					</input>
				</div>
				<div class="form-group">
					<label class="field" for="formaDePagamento">Forma de Pagamento</label>
					<select ng-model="pedido.formaDePagamento" ng-options="formaDePagamento as formaDePagamento.nome for formaDePagamento in formasDePagamento" required="" class="selectbox-300 form-control" name="formaDePagamento">
						<option></option>
					</select>
				</div>
				<div class="form-group">
					<label class="field" for="lojaSelect">Loja</label>
					<select ng-model="pedido.loja" ng-options="loja as loja.nome for loja in lojas" required="" class="selectbox-300 form-control" name="lojaSelect">
						<option></option>
					</select>
				</div>
				<div class="form-group">
					<label class="field" for="marcaSelect">Marca</label>
					<select required="" ng-model="pedido.marca" ng-options="marca as marca.nome for marca in marcas" class="selectbox-300 form-control" name="marcaSelect" id="marcaSelect">
						<option></option>
					</select>
				</div>
				<div class="form-group">
					<label class="field" for="observacoes">Observações</label>
					<textarea ng-model="pedido.observacoes" class="textarea-300 form-control" name="observacoes" placeholder="Observações..."></textarea>
				</div>
			</div>
			<br>
		
			<h1>Produtos</h1>

			<div ng-model="pedido.produtos" ng-repeat="produto in produtos">

				<div cadastro-produto></div>	
		
			</div>

			<button type="submit" class="btn btn-primary">Salvar</button>	
		</form>
	</fieldset>
</div>