<div class="container text-center">
	<h1>Cadastro de Pedido</h1>

	<form>
		<fieldset class="external-fieldset">
			<div class="container">
				
				<h2>Informações</h2>

				<div class="form-group">
					<label class="field" for="data-pedido">Data de pedido</label>
					<input ng-model="pedido.dataPedido" class="textbox-300" type="date" name="data-pedido" id="data-pedido" min="2017-01-01">
				</div>
				<div class="form-group">
					<label class="field" for="date">Data de recebimento</label>
					<input ng-model="pedido.dataRecebimento" class="textbox-300" type="date" name="date" id="date" min="2017-01-01">
				</div>
				<div class="form-group">
					<label class="field" for="desconto">Desconto</label>
					<input ng-model="pedido.desconto" class="textbox-300" name="desconto" placeholder="Digite o desconto total">
					</input>
				</div>
				<div class="form-group">
					<label class="field" for="formaDePagamento">Forma de Pagamento</label>
					<select ng-model="pedido.formaDePagamento" ng-options="loja.nome as loja.nome for loja in lojas" class="selectbox-300" name="formaDePagamento">
					</select>
				</div>
				<div class="form-group">
					<label class="field" for="lojaSelect">Loja</label>
					<select ng-model="pedido.loja" ng-options="loja as loja.nome for loja in lojas" class="selectbox-300" name="lojaSelect">
					</select>
				</div>
				<div class="form-group">
					<label class="field" for="marcaSelect">Marca</label>
					<select ng-model="pedido.marca" ng-options="marca as marca.nome for marca in marcas" class="selectbox-300" name="marcaSelect" id="marcaSelect">
					</select>
				</div>
				<div class="form-group">
					<label class="field" for="observacoes">Observações</label>
					<textarea ng-model="pedido.observacoes" class="textarea-300" name="observacoes" placeholder="Observações..."></textarea>
				</div>
			</div>
		
			<h2>Produtos</h2>

			<div ng-model="pedido.produtos" ng-repeat="produto in produtos">

				<div cadastro-produto></div>	
		
			</div>

			<button ng-click="salvarPedido(pedido)" class="btn btn-primary">Salvar</button>
			<button class="btn">Limpar</button>
			
		</fieldset>
	</form>
</div>