<div class="container text-center">

	<h1>Finanças</h1>
	<br>
	<br>			
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center" style="width:40%;">Mês</th>
				<th class="text-center" style="width:10%;">Ano</th>
				<th class="text-center" style="width:25%;">Valor com Desconto</th>
				<th class="text-center" style="width:25%;">Valor Total</th>
			</tr>
			
		</thead>
		<tbody>
			
			<tr dir-paginate="mes in meses | itemsPerPage:12">
				<td> <a href="#!financeiro/{{mes.id}}">{{mes.mes}}</a></td>
				<td>{{mes.ano}}</td>
				<td>{{mes.valorTotalComDesconto | currency}}</td>
				<td>{{mes.valorTotal | currency}}</td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<dir-pagination-controls
       		max-size="5"
       		direction-links="true"
       		boundary-links="true"
       		auto-hide="false"
       		clear-button="false"
       	>
    	</dir-pagination-controls>
	</div>
</div>