<!DOCTYPE html>
<html ng-app="controlePedidos">
<head>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>
  <div class="container loginContainer">
    
    <div class="row" id="pwd-container">
      <div class="col-md-4"></div>
      
      <div class="col-md-4">
        <section class="login-form">
          <form role="login">
            <img src="utils/aluisiofashion-logo.png" class="img-responsive" alt="" />
            <input name="usuario" ng-model="usuario" placeholder="Usuário" required class="form-control input-lg" />
            
            <input type="password" ng-model="senha" class="form-control input-lg" id="password" placeholder="Senha" required="" />
            
            <button ng-click="doLogin()" class="btn btn-lg btn-primary btn-block">Entrar</button>
            
          </form>
        </section>  
        </div>
        

    </div>

  </div>
  
</body>
</html>