<div class="container text-center">

	<h1>Cadastro de Loja</h1>
	<form>
		<fieldset>
			<div class="container">
				<div class="form-group">	
					<label class="field" for="loja">Loja</label>
					<input ng-model="loja.nome" class="textbox-300" type="text" name="loja" id="loja" placeholder="Digite o nome da loja" required autofocus>
				</div>
			</div>

			<button ng-click="salvarLoja(loja)" type="submit" class="btn btn-primary">Salvar</button>
			<button class="btn">Limpar</button>
			
		</fieldset>
	</form>
</div>