<div class="container text-center">

	<h1>Cadastro de Marca</h1>
	<fieldset>
		<form ng-submit="salvarMarca(marca)">
			<div class="container">
				<div class="form-group">	
					<label class="field" for="marca">Marca</label>
					<input ng-model="marca.nome" class="textbox-300 form-control" type="text" name="marca" id="marca" placeholder="Digite o nome da marca" required autofocus>
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Salvar</button>
			
		</form>
	</fieldset>
</div>