<div class="container text-center">

	<h1>Finanças</h1>
	<br>
	<h2>{{mes.mes}} - {{mes.ano}}</h2>
	<br>
	<br>			
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center" style="width:40%;">Loja</th>
				<th class="text-center" style="width:30%;">Valor com Desconto</th>
				<th class="text-center" style="width:30%;">Valor Total</th>
			</tr>	
		</thead>
		<tbody>
			<tr ng-repeat="loja in mes.valorTotalPorLoja">
				<td>{{loja.loja}}</td>
				<td>{{mes.valorTotalComDesconto | currency}}</td>
				<td>{{mes.valorTotal | currency}}</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-default" ng-click="voltar()">Voltar</button>
	</div>
</div>