<div class="container">
	<div class="row">
		<nav class="navbar navbar-default" ng-controller="navBarCtrl">
			<div>
			    <div class="navbar-header logo">
			      <img src="utils/aluisiofashion-logo.png" width="90" height="50">
			    </div>
			    <ul class="nav navbar-nav">
			    	<li><a href="#!index">Pedidos</a></li>
			    	<li><a href="#!cadastrar">Cadastrar Pedidos</a></li>
			    	<li>
			    		<div class="dropdown">
							<a class="dropdown-toggle nav-buttons" data-toggle="dropdown">Cadastrar
							<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#!loja">Cadastrar Loja</a></li>
								<li><a href="#!marca">Cadastrar Marca</a></li>
								<li><a href="#!produto">Cadastrar Produto</a></li>
								<li><a href="#!formaDePagamento">Cadastrar Forma de Pagamento</a></li>
							</ul>
						</div>
			    	</li>
			    	<li><a href="#!produtos">Produtos</a></li>
			    	<li><a href="#!financas">Finanças</a></li>
			    	<li><a href="#!inventario">Inventário</a></li>
			    </ul>
				<ul class="nav navbar-nav navbar-right">
            		<li><a ng-click="logout()" href=""> Sair</a></li>
          		</ul>
			</div>
		</nav>
	</div>

</div>