<div class="container text-center">

	<h1>Pedidos</h1>
	<p ng-show="pedidos.length == 0">Não há pedidos cadastrados.</p>			
	<table ng-show="pedidos.length != 0" class="table table-hover">
		<tr>
			<td>Id</td>
			<td>Data do Pedido</td>
			<td>Data do Recebimento</td>
			<td>Loja</td>
			<td>Marca</td>
			<td>Observações</td>
		</tr>
		<tr ng-repeat="pedido in pedidos">
			<td>{{pedido.id}}</td>
			<td>{{pedido.dataPedido | date : 'dd/MM/yyyy'}}</td>
			<td>{{pedido.dataRecebimento | date : 'dd/MM/yyyy'}}</td>
			<td>{{pedido.loja.nome}}</td>
			<td>{{pedido.marca.nome}}</td>
			<td>{{pedido.observacoes}}</td>
		</tr>
		
	</table>
</div>