<div class="container text-center">

	<h1>Pedidos</h1>
	<br>
	<br>

	<p ng-show="pedidos.length == 0">Não há pedidos cadastrados.</p>
	<div ng-show="pedidos.length != 0">

		<table datatable="ng" id="example" class="table table-hover">
			<thead>
				<tr> 
					<th>
						<input class="form-control" ng-model="idSearch" type="text" name="" placeholder="Id" size="2">
					</th>
					<th>
						<input class="form-control" type="date" ng-model="dateFrom"> </input>	
					</th>
					<th>
						<input class="form-control" class="form-control" type="date" ng-model="dateEnd"> </input>
					</th>
					<th>
					 	<select class="form-control" ng-model="lojaSearch" ng-options="loja.nome as loja.nome for loja in lojas" name="lojaSelect">
						</select>
					</th>
					<th>
						<select class="form-control" ng-model="marcaSearch" ng-options="marca.nome as marca.nome for marca in marcas" name="marcaSelect" id="marcaSelect">
						</select>  
					</th>
					<th>
					 	<input class="form-control" ng-model="valorTotalSearch" type="text" name="" placeholder="Valor Total" size="10">
					</th>
					<th>
						<input class="form-control" ng-model="obsSearch" type="text" name="" placeholder="Observações" size="12">
					</th>
					<th>
						<select ng-model="estadoSearch" class="form-control">
							<option value="NAO_RECEBIDO">Em Espera</option>
							<option value="RECEBIDO">Recebido</option>
							<option value="RECEBIDO_PARCIALMENTE">Parcialmente Recebido</option>
						</select>
					</th>
				</tr>	
			</thead>
			<tr>
				<th class="text-center" ng-click="sort('id')"> Id
					<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('dataPedido')"> Data do Pedido
					<span class="glyphicon sort-icon" ng-show="sortKey=='dataPedido'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('dataRecebimento')"> Data do Recebimento
					<span class="glyphicon sort-icon" ng-show="sortKey=='dataRecebimento'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('loja')"> Loja
					<span class="glyphicon sort-icon" ng-show="sortKey=='loja'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('marca')"> Marca
					<span class="glyphicon sort-icon" ng-show="sortKey=='marca'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('valorTotal')"> Valor Total
					<span class="glyphicon sort-icon" ng-show="sortKey=='valorTotal'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center" ng-click="sort('obs')"> Observações 
					<span class="glyphicon sort-icon" ng-show="sortKey=='obs'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
				</th>
				<th class="text-center">Recebido</th>
			</tr>
				
			
			<tbody>
				
				<tr dir-paginate="pedido in pedidos | orderBy:sortKey:reverse | estadoFilter: estadoSearch | marcaFilter: marcaSearch | lojaFilter: lojaSearch | dateFilter:dateFrom:dateEnd | filter: {id: idSearch, valorTotal: valorTotalSearch, observacoes: obsSearch} | itemsPerPage:20">
					<td><a href="#!visualizaPedido/{{pedido.id}}">{{pedido.id}}</a></td>
					<td>{{pedido.dataPedido | date : 'dd/MM/yyyy'}}</td>
					<td>{{pedido.dataRecebimento | date : 'dd/MM/yyyy'}}</td>
					<td>{{pedido.loja.nome}}</td>
					<td>{{pedido.marca.nome}}</td>
					<td>{{pedido.valorTotal - (pedido.valorTotal * pedido.desconto / 100)}}</td>
					<td>{{pedido.observacoes}}</td>
					<td>
						<img src="utils/delivery.svg" ng-show="pedido.estado == 'RECEBIDO'" width="16" height="17">
						</img>
						<img src="utils/delivery-2.svg" ng-show="pedido.estado == 'RECEBIDO_PARCIALMENTE'" width="16" height="17">
						</img>
						<img src="utils/delivery-3.svg" ng-show="pedido.estado == 'NAO_RECEBIDO'" width="16" height="17">
						</img>
					</td>
				</tr>
				
			</tbody>
		</table>
		<div class="row">
			
				<dir-pagination-controls
		       		max-size="5"
		       		direction-links="true"
		       		boundary-links="true"
		       		auto-hide="false"
		       		clear-filters="limparFiltros()"
		       	>
		    	</dir-pagination-controls>
		</div>
	</div>
</div>