<div class="container text-center">

	<form>
		<fieldset class="external-fieldset">
			
			<h1>Pedido {{pedido.id}}</h1>
			
			
				<div class="form-group">
					<label class="field">Data de pedido: </label>
					<p class="dadoPedido">{{pedido.dataPedido | date : 'dd/MM/yyyy'}}</p>
				</div>
				<div class="form-group">
					<label class="field">Loja: </label>
					<p class="dadoPedido">{{pedido.loja.nome}}</p>
				</div>
				<div class="form-group">
					<label class="field" >Marca: </label>
					<p class="dadoPedido">{{pedido.marca.nome}}</p>
				</div>
				<div class="form-group">
					<label class="field">Observações: </label>
					<p class="dadoPedido">{{pedido.observacoes}}</p>
				</div>
			

			<h1>Produtos</h1>

			<table ng-show="pedido.produtos.length != 0" class="table table-hover">
				<thead>
					<tr>
						<th class="text-center">Produto</th>
						<th class="text-center">Quantidade</th>
						<th class="text-center">Categoria</th>
						<th class="text-center">Preço Custo</th>
						<th class="text-center">Preço Venda</th>
						<th class="text-center">Recebido</th>
					</tr>
					
				</thead>
				<tbody>
					
					<tr ng-repeat="produto in pedido.produtos">
						<td>{{produto.nome}}</td>
						<td>{{produto.quantidade}}</td>
						<td>{{produto.categoria.nome}}</td>
						<td>{{produto.precoCusto}}</td>
						<td>{{produto.precoVenda}}</td>
						<td>
							<div class="form-check">
  								<input ng-model="produto.recebido" class="form-check-input" type="checkbox" id="produtoRecebido">

							</div>
						</td>
					</tr>
					
				</tbody>
			</table>
		


			<button class="btn btn-primary" ng-click="atualizarPedido(pedido)">Salvar</button>
			
		</fieldset>
	</form>



</div>