header {
	
}


.margin-top-bottom {
	margin-top: 5px;
    margin-bottom: 5px;
}

.form-group {
	padding: 5px;
	margin:0;
}

.navbar-right {
	margin-right: 15px;
}

.container {
	width: 100%;
}

.logo {
	margin: 10px;
}

.dadoPedido {
	text-align: left;
}

nav {
	width: 100%;
	height: 70px;
}

.nav-buttons{
	height: 100%;
	display: inline-block;
	color: gray;
}

.navbar-nav li a {
	padding: 20px;
    margin: 0px;
    height: 70px;
}

legend {
	border-radius: 5px;
	border: 1px solid gray;
	text-align: right;
	padding: 2px;
	font-size: 14px;
}

fieldset .inner-fieldset{
	border: 1px solid gray;
}

label.field {
	text-align: right;
	width: 50%;
	float: left;
	font-weight: bold;
	padding-right: 10px;
}

fieldset div {
	padding: 10px;
	clear: both;
}

input.textbox-300 {
	border-radius: 4px;
	width: 30%;
}

select.selectbox-300 {
	width: 30%;
}

textarea.textarea-300 {
	border-radius: 4px;
	width: 30%;
	height: 100px;
}


fieldset { 
	border-radius: 10px;
	border:1px solid black;
	padding: 20px;
	text-align: center;
	
}

fieldset.inner-fieldset {
	
	
}

.form-produto {
	margin-top: -30px;
}

.selected {
	background-color: #e7e7e7;
}



